@font-face {
    font-family: OptimusPrinceps;
    src: url(OptimusPrincepsSemiBold.ttf);
}
body {
    background: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

header #title {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: white;
    text-align: center;
    border-top: 20px solid rgb(48,50,130);
    border-bottom: 20px solid rgb(235,29,38);
}

header #title img 
{
    width: 20%;
}
header #heatlhbartool {
    width: 100%;
    background: rgb(49,49,49);
    overflow: hidden;
    height: 80px;
    position: relative;
}

header #heatlhbartool .healthbar {
    width: 12%;
    height: 30px;
    background: white;
    border: 2px solid white;
    border-radius: 4px;
    float: left;
    display: inline;
    color: rgb(49,49,49);
    text-align: left;
    padding-top: 5px;
    padding-left: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800; font-size: 25px;
    text-transform: uppercase;
}

header #heatlhbartool #barclinton {
    text-align: right;
    padding-right: 30px;
    padding-left: 0px;
    right: 30px;
    position: absolute;
}

header #healthtrump {
    width: 350px;
    height: 39px;
    position: absolute;
    background: #ff2828; /* Old browsers */
    background: -moz-linear-gradient(left, #ff2828 0%, #fff832 52%, #64ce27 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff2828 0%,#fff832 52%,#64ce27 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff2828 0%,#fff832 52%,#64ce27 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    top: 20px;
    left: 220px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

header #healthclinton {
    width: 350px;
    height: 39px;
    position: absolute;
    background: #64ce27; /* Old browsers */
    background: -moz-linear-gradient(left, #64ce27 0%, #fff832 48%, #ff2828 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #64ce27 0%,#fff832 48%,#ff2828 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #64ce27 0%,#fff832 48%,#ff2828 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    top: 20px;
    right: 280px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#debate {
    background-image: url(source/sky.jpg);
    background-size: 100%;
}

#debate .ring {
    margin-left: 50px;
    margin-right: 50px;
}

#remote {
    text-align: center;
    display: inline-block;
    overflow: hidden;
    height: 300px;
}

#remote .cmd {
    width: 500px;
    float: left;
    overflow: hidden;
    margin-top: 85px;
}

#remote .cmd a {
    height: 20px;
    width: 170px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 15px 10px 10px;
    display: inline-block;
    font-size: 16px; font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}



#remote #trump.cmd a.attack {
    background: rgb(48,50,130);
    border-bottom: 3px solid rgb(48,40,100);
}

#remote #trump.cmd a.attack:hover {
    background: rgb(48,40,100);
}

#remote #clinton.cmd a.attack {
    background: rgb(235,29,38);
    border-bottom: 3px solid rgb(180,29,38);
}

#remote #clinton.cmd a.attack:hover {
    background: rgb(180,29,38);
}

footer {
    width: 100%;
    height: 40px;
    background: rgb(49, 49, 49);
    display: inline-block;
    padding-top: 25px;
    font-size: 10px;
    color: grey;
    line-height: 15px;
    font-weight: 300;
}

footer a{
    color: grey;
    text-decoration: none;
    font-weight: 400;  
    font-size: 10px;
    font-style: italic;
}

footer a[title='webstart'] {
    color: rgb(53, 83, 203);
    font-weight: 300;
    font-style: normal;
}